body {
    background-image: url(img/pxfuel.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
}
.title {
    font-family: sans-serif;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px #8495dd;
    color: #ffffff;
    text-transform: uppercase;
}
.list-container {
    background-color: #4b4eb3;
    width: 50%;
    margin: auto;
    padding: 1em;
    border-radius: 3em;
    color: #FFFFFF;
    box-shadow: 8px 8px 0px 0px #00000054;
}
.list-item {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
}
.position-table {
    display: table;
    width: 15%;
}
.movimiento-imagen {
    width: 1em;
    height: 1em;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cancion-imagen {
    border-radius: 50%;
    width: 5em;
}
.puesto-container {
    display: table-cell;
    vertical-align: middle;
}
.puesto-box {
    margin: auto;
    background-color: #c3fbff;
    text-align: center;
    width: 35%;
    border-radius: 50%;
    color: #081669;
}
.puesto-texto {
    text-align: center;
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.movimiento-container {
    text-align: center;
    display: table-row;
}
.cancion-table {
    display: table;
    margin-left: 2em;
}
.cancion-artista-celda {
    vertical-align: bottom;
    display: table-cell;
}
.cancion-artista {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #FF3355;
    background-color: #fff;
    border-radius: 5px;
    padding: 0em 0.5em;
    text-transform: uppercase;
}
.cancion-nombre {
    font-family: sans-serif;
    font-size: 1.5em;
    background-color: #39428a;
    border-radius: 10px;
    padding: 0em 0.5em;
    text-transform: uppercase;
}
.up {
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid #2fd341;
}
.down {
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #d32f2f;
}
.equal {
    height: 0.5em;
    width: 2em;
    background-color: #ffffff;
}
.boton-container {
    text-align: center;
    margin: 1em 0 1em 0;
}
.boton-imagen {
    appearance: none;
    background-color: #66e9ad;
    border: 1px solid #44c79b;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 1px 1px 0px 0px #8f8383e6;
}
#imagen_generada_container {
    text-align: center;
}